<!DOCTYPE html>

<html>

  <head>

    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>

  </head>

  <body>
		<div class="container">
			{{ form(form) }}
		</div>
  </body>

</html>