body
{
	/*background-color: #00aaff;		/*#222244 "bleu roi"(pas vraiment), #224422 vert tapis de billard, #0033ff bleu ciel*/
	background-image: url(image_desert.jpg);
	background-attachment:fixed;
}

h1
{
	color: #cc7700;
  text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

p
{
	color: #114400;
  text-align: center;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;

}

#chat+genie
{
	/*text-align: center;*/
	vertical-align: middle;
}

/*#container{
	width:100%;
	display: inline-block;
}*/

#partiegauche
{
	padding-left: 5%;
  /*padding-right: 30%;*/
	float: left;
}

#chat
{
  color: yellow;
	/*width:500px;*/
	padding-right: 95%;
	background-color: red;
	height: 400px;
	font-family: Arial, Helvetica, sans-serif;
}

#partiedroite
{
	padding-left:50%;
  padding-right: 30%;
	float: center;

}


/*#genie
{
	background-image: url(genie_de_la_lampe.jpg);
	background-repeat: no-repeat;
}*/
